*{
    margin:0px;
    padding:0px;
}
#contain {
    width: 800px;
    height: 600px;
   /* background-color: blue;*/
    margin: auto;
}

#info {
    text-align: center;
}


#score {
	color: white;
}

#alert{
    font-size: 30px;
    color:red;
    width:100%;
    line-height: 480px;
    text-align: center;
}